.pad-2-em {
    padding: 2em 2em 2.5em 2em;
}

.bg-envelope {
    background: #f1f1f1;
}

.bg-white {
    background: #ffffff;
}

.btn {
    transition: background-color .125s ease-out, border .125s ease-out, box-shadow .125s ease-out;
    border-radius: initial;
}

.btn-lg {
    font-size: 19px;
}

.btn-primary {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: #FFD16C;
    color: #002855;
    border: 2px solid #FFD16C;
}

.btn-primary:hover,
.btn-primary:focus{
    outline: none;
    background-color: #FFD987;
    color: #002855;
    box-shadow: none;
    border: 2px solid #FFD16C;
}

.white-shadow {
    box-shadow: 5px 5px 0px 0px #FFFFFF;
}

.grey-shadow {
    box-shadow: 5px 5px 0px 0px #ECECEC;
}

