$color-clouds: #C5CFDA; // Billowing Clouds
$color-daisy: #FFD16C; // Golden Daisy CTA
$color-dove: #565656; // Dove Gray
$color-envelope: #F1F1F1; // Envelope
$color-zodiac: #002855; // Blue Zodiac
$color-box: #A49382; // Cardboard Box
$color-ink: #43263A; // Deep Ink
$color-red: #B3272D; // Carriage Red
$color-tin: #5B6770; // Antique Tin
$color-transport: #45A7C5; // Transport Blue
$color-mint: #00966C; // Mint
$color-coral: #F4633A; // Coral
