//
// Grid system
// --------------------------------------------------

// Container modifications
.container.container-expand {
  &.container-expand-md-down {
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
  }
  &.container-expand-sm-down {
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}

//
// Helpers
// --------------------------------------------------

// Add Text Shadow
.add-text-shadow {
  text-shadow: $carousel-text-shadow;
}

// Remove Text Shadow
.remove-text-shadow {
  text-shadow: none;
}

// Display
.inline-block {
  display: inline-block;
}

// Background colors
.bg-zodiac {
  background-color: $color-zodiac;

  .jumbotron-link {
    color: tint($link-color, 15%);

    &:hover,
    &:focus {
      text-decoration: none;
      color: $link-color;
    }
  }
}

.bg-zodiac-light {
  background-color: $color-zodiac-light;
}

.bg-zodiac-lightest {
  background-color: $color-zodiac-lightest;
}

.bg-primary-lightest {
  background-color: $brand-primary-lightest;
}

.bg-zodiac-med {
  background-color: $color-zodiac-med;
}

.bg-clouds {
  background-color: $color-clouds;
}

.bg-clouds-muted {
  background-color: $color-clouds-muted;
}

.bg-clouds-light {
  background-color: $color-clouds-light;
}

.bg-clouds-light-35 {
  background-color: $color-clouds-light-35;
}

.bg-clouds-light-50 {
  background-color: $color-clouds-light-50;
}

.bg-clouds-lighter {
  background-color: $color-clouds-lighter;
}

.bg-clouds-lightest {
  background-color: $color-clouds-lightest;
}

.bg-tin-light {
  background-color: $color-tin-light;
}

.bg-envelope {
  background-color: $color-envelope;
}

.bg-transparent {
  background-color: transparent;
}

// Text variations
.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-letterspace-1 {
  letter-spacing: 1px;
}

// Text colors
.text-white {
  color: #fff;
}

.text-envelope {
  color: $color-envelope;
}

.text-clouds {
  color: $color-clouds;
}

.text-clouds-dark {
  color: $color-clouds-dark;
}

.text-gray-dark {
  color: $gray-dark;
}

.text-zodiac-med {
  color: $color-zodiac-med;
}

.text-zodiac-muted {
  color: $color-zodiac-muted;
}

.text-zodiac-light {
  color: $color-zodiac-light;
}

.text-transport-bright {
  color: $color-transport-bright;
}

.text-tin-muted {
  color: $color-tin-muted;
}

// Margins
.margin-top-computed {
  margin-top: $line-height-computed;
}

.margin-bottom-computed {
  margin-bottom: $line-height-computed;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-3 {
  margin-top: 3px;
}

.margin-top-4 {
  margin-top: 4px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-19 {
  margin-top: 19px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-2 {
  margin-bottom: 2px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

// Padding
.padding-left-0 {
  padding-left: 0;
}

.padding-left-computed {
  padding-left: $line-height-computed;
}

.padding-top-bottom-5 {
  padding-top: 5px !important;
  padding-bottom: 5px;
}

// Borders
.border-none {
  border: none;
}

// Border Radii
.border-radius-large {
  border-radius: $border-radius-large;
}

// Border Colors
.border-color-clouds {
  border-color: $color-clouds;
}

// Horizontal Rules
.footer-hr {
  border-top-color: shade($color-clouds, 5%);
}

.hr-dark {
  border-top-color: #ddd;
}

// White Space modifiers
// --------------------------------------------------

// Space left
.space-after:after {
  font-family: inherit;
  content: "\00A0";
}

.wrap-white-space {
  white-space: normal;
}


//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1, .h1 {
  font-weight: 500;
}

// Body Text
// -------------------------

.lead {
  strong {
    font-weight: 500;
  }
  &.lead-short {
    margin-bottom: ($line-height-computed / 2);
  }
}

.smaller {
  font-size: 65%;
}

// Emphasis & misc
// -------------------------

// Contextual colors

@include text-emphasis-variant('.text-zodiac', $color-zodiac);
@include text-emphasis-variant('.text-gray', $gray);

// Prices
.price {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.price__mark {
  font-size: .0001em;
  opacity: 0;
  letter-spacing: 0;
}

.price--xs {
  font-size: $font-size-h4;
}

.price--sm {
  font-size: $font-size-h3;
}

.price--md {
  font-size: $font-size-h2;
}

.price--lg {
  font-size: $font-size-h1;
}

.price__sup,
.price__currency {
  font-weight: 700;
  font-size: 0.57em;
  letter-spacing: 0.04em;
}


//
// Thumbnails
// --------------------------------------------------

a.thumbnail:hover,
a.thumbnail:focus {
  text-decoration: none;
  border-color: tint($color-zodiac, 69%);
}

.thumbnail {
  &.gallery-thumbnail {
    img {
      margin-top: ($line-height-computed / 2);
      margin-bottom: ($line-height-computed / 2);
    }
  }
}




//
// Jumbotron
// --------------------------------------------------

.jumbotron {

  .hero-text {
      font-weight: 500;
  }

  .container &,
  .container-fluid & {
      border-radius: 0;
  }

  p {
    font-weight: 300;
  }

}


//
// Labels
// --------------------------------------------------

.label-info-ghost {
  background-color: transparent;
  color: $brand-info;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px $brand-info;
}

.label {
    font-weight: 500;
}


//
// Wells
// --------------------------------------------------

// Base class
.well {
  border-radius: 0;

  // as marketing bucket with link
  &.well-marketing {
    @include clearfix();
    @include transition(border .2s ease-in-out);
    background-color: $color-clouds-lightest;
    padding: 0;
    box-shadow: none;
    border-radius: $border-radius-base;
    border-color: $panel-default-border;
    position: relative;
    display: block;

    .well-marketing-title {
      position: absolute;
      top: ($line-height-computed / 2);
      left: ($line-height-computed / 2);
      margin-top: 0;
      color: $gray;
      font-weight: 500;

      @media (min-width: 540px) and (max-width: $grid-float-breakpoint-max) {
        top: 48%;
        left: $line-height-computed;
        transform: translateY(-48%);
        font-size: $font-size-h3;
        font-weight: normal;
      }
    }

    img {
      float: right !important;
      border-radius: $border-radius-base;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: tint($color-zodiac, 69%);

      .well-marketing-title {
        color: tint($color-zodiac, 10%);
      }
    }
  }
}

// Sizes
.well-lg {
  border-radius: 0;
}
.well-sm {
  border-radius: 0;
}

// Well Modifiers
.well-daisy {
  background-color: tint($color-daisy, 85%);
  border: 1px solid $color-daisy;
}


//
// Panels
// --------------------------------------------------

.panel {
  &.panel-marketing {
    @include clearfix();
    .panel-body {
      padding: 0;
      position: relative;

      .panel-marketing-image {
        float: right !important;
        @media (max-width: 490px) {
          opacity: 0;
        }
      }

      .label-fraud-armor {
        background-color: $color-clouds-lightest;
        // padding: 0.62em 0.8em;
        padding: 5px 8px;
        color: $color-zodiac;
        font-weight: 500;
        border: 1px solid $color-clouds-light;
        border-radius: 15px;
        margin-left: 5px;

        .fraud-armor-marketing {
          display: inline;
          width: 62px;
          height: auto;
          margin-left: 5px;
          margin-bottom: 1px;
        }

        @media (max-width: 375px) {
          display: block;
          border: none;
          margin-left: 0;
          margin-top: 30px;
          margin-right: $panel-body-padding;
          text-align: right;
          padding-right: 0;
        }
      }

      .panel-marketing-copy {
        position: absolute;
        top: $panel-body-padding;
        left: $panel-body-padding;

        .panel-marketing-title {
          font-size: $font-size-h3;
          line-height: $headings-line-height;
          color: $color-tin;
          margin-top: 0;
          margin-bottom: ($line-height-computed / 2);
          font-weight: 500;

          @media (max-width: 375px) {
            font-size: $font-size-h4;
            font-weight: bold;
          }
        }

        p {
          width: 66%;
          @media (max-width: $grid-float-breakpoint-max) {
            width: 55%;
            font-weight: normal;
          }
          @media (max-width: 490px) {
            width: 80%;
          }
          @media (max-width: 375px) {
            font-size: $font-size-base;
          }
          @media (max-width: 320px) {
            width: 95%;
          }
        }
      }
    }
  }
}

.panel-zodiac-muted {
  @include panel-variant($color-zodiac-muted, $color-zodiac-muted, $color-zodiac-muted, $color-zodiac-muted);

  .panel-footer {
    border-top-color: $color-zodiac-muted;
    background-color: $color-zodiac-lightest;
  }
}

.panel-intermezzo {
  padding: $panel-footer-padding;
  border: none;
}

.panel-pdp {
  // TODO: Remove this class below after fixing the whitespace issue coming from prices in the backend
  .product_option_price .price__dollar {
    margin-right: -0.52em;
    margin-left: -0.25em;
  }
  // TODO (end)

  .panel-body,
  .panel-intermezzo {
    padding-top: 5px;
    &:not(:first-of-type) {
      padding-top: $panel-body-padding;
    }
    .pdp--section-head:not(:first-of-type) {
      margin-top: 15px;
    }
    &.panel-price-area {
      padding-top: 0;
      padding-bottom: 5px;
      text-align: right;
    }
  }
}

.panel-primary {
  .panel-footer {
    border-top-color: $brand-primary;
  }
}


//
// Modals
// --------------------------------------------------

.modal-content {
  border-radius: 1px;
}


//
// Buttons
// --------------------------------------------------

// Alternate buttons
// --------------------------------------------------

.btn-cta {
  // @include button-variant($color-zodiac, $color-daisy, $btn-cta-border);
  @include button-variant-alternate($color-zodiac, $color-daisy, $btn-cta-border);
}

.btn-default-emph {
  @include button-variant($btn-default-color, tint($brand-primary, 93%), $btn-default-border);
}

// Alternate button groups
// --------------------------------------------------

// Vertical Justified button group
.btn-group-vertical.btn-group-justified {
  display: block;
  width: 100%;
  border-collapse: separate;
  > .btn,
  > .btn-group {
    float: none;
    display: block;
    width: 100%;
  }
  > .btn-group .btn {
    width: 100%;
  }

  > .btn-group .dropdown-menu {
    left: auto;
  }
  &.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
      border-top-right-radius: $border-radius-base;
  }
}


//
// Forms
// --------------------------------------------------

// Page Sort
.page-sort-select {
  @media (max-width: $grid-float-breakpoint-max) {
    width: 100%;
  }
}

// Feedback states
.has-success {
  @include form-control-validation($brand-success, $brand-success, $state-success-bg);
}
.has-warning {
  @include form-control-validation($brand-warning, $brand-warning, $state-warning-bg);
}
.has-error {
  @include form-control-validation($brand-danger, $brand-danger, $state-danger-bg);
}

// Demo focus state for UI Toolkit
#focusedInput {
  @include form-control-focus-demo;
}

// Custom Radio Button Select
// ---------------------------------
.custom-select {
  .btn {
    @include clearfix();
    position: relative;
  }

  .option_description {
    float: left !important;
    color: $gray;
    position: relative;
    margin-left: 24px;
    text-align: left;
  }
  .option_help {
    color: lighten($gray-base, 65%);
    font-size: $font-size-base;
    position: absolute;
    right: $padding-large-horizontal;
    top: 50%;
    transform: translateY(-50%);
  }
  .option_price {
    color: lighten($gray-base, 65%);
    position: absolute;
    right: $padding-large-horizontal;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    transition: 0.25s ease all;
    .save-over {
      font-weight: 400;
      margin-bottom: 10px;
      letter-spacing: normal;
      @media (max-width: 560px) {
        display: none;
      }
    }
  }
  .price {
    .save-over {
      font-weight: 400;
      margin-bottom: 4px;
      letter-spacing: normal;
      @media (max-width: 560px) {
        display: none;
      }
    }
  }
  .option_description:before {
    content: "\25CB";
    font-family: $font-family-monospace;
    font-weight: 700;
    font-size: 24px;
    opacity: 0.35;
    transition: 0.25s ease all;
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
  }
  .option_description.option-checkbox:before {
    font-family: 'Glyphicons Halflings';
    content:"\e157";
    font-size: 16px;
    transition: none;
  }
  .active .option_description,
  .active .option_price {
    color: $gray-dark;
    transition: 0.25s ease all;
  }
  .active .option_description.active-color-red {
    color: darken($color-red, 10%);
    transition: 0.25s ease all;
  }
  .active .option_description.active-color-red:before {
    color: darken($color-red, 10%);
    transition: 0.25s ease all;
  }
  .active .option_quantity {
    color: $gray;
    transition: 0.25s ease all;
  }
  .active .option_description:before {
    content: "\25C9";
    color: $gray-dark;
    opacity: 1;
  }
  .active .option_description.option-checkbox:before {
    font-family: 'Glyphicons Halflings';
    content:"\e067";
    transition: none;
  }
  .active.btn-default .badge-info-ghost {
    color: darken($brand-info, 10%);
    border: 1px solid darken($brand-info, 10%);
    transition: 0.25s ease all;
  }
  .active.btn-default:hover,
  .active.btn-default:focus {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .option_name {
    display: inline-block;
    text-align: left;
  }
  .option_quantity {
    font-size: 13px;
    display: block;
    color: $gray-light;
  }

  &:not(.btn-group-vertical) {
    @media (max-width: $grid-float-breakpoint) {
      > .btn {
        float: none;
        display: block;
        width: 100%;
        max-width: 100%;
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }
        &:first-child:not(:last-child) {
          @include border-top-radius($btn-border-radius-base);
          @include border-bottom-radius(0);
        }
        &:last-child:not(:first-child) {
          @include border-top-radius(0);
          @include border-bottom-radius($btn-border-radius-base);
        }
      }
      // prevent double-borders when buttons are touching
      > .btn + .btn {
        margin-top: -1px;
        margin-left: 0;
      }
    }
  }


  // Adjust the font sizes and padding at every breakpoint to account for extra long label text on some CITM products
  &.btn-group .btn-default {
    font-size: 12px;
    padding: 10px 12px;

    .option_description {
      margin-left: 20px;
    }

    .option_description:before {
      left: -20px;
    }

    .option_price {
      right: 12px;

      .price--md {
        font-size: $font-size-h4;
      }
    }

    .option_quantity {
      font-size: 12px;
    }

    // extra small screens
    @media (min-width: 375px) {
      font-size: 14px;
      padding: 10px 16px;

      .option_description {
        margin-left: 24px;
      }

      .option_description:before {
        left: -24px;
      }

      .option_price {
        right: $padding-large-horizontal;
        .price--md {
          font-size: $font-size-h4;
        }
      }

      .option_quantity {
        font-size: 13px;
      }
    }

    // somewhat small screens
    @media (min-width: 425px) {
      .option_price {
        .price--md {
          font-size: $font-size-h3;
        }
      }
    }

    @media (min-width: 450px) {
      font-size: $font-size-large;
    }

    @media (min-width: 475px) {
      .option_price {
        .price--md {
          font-size: $font-size-h2;
        }
      }
    }


  }
} // end .custom-select




.check-security-header {
  display: inline-block;
  vertical-align: baseline;
  img {
    margin-top: 3px;
    display: inline-block;
    vertical-align: baseline;
    @media (max-width: 400px) {
      display: block;
      margin-bottom: 3px;
    }
  }
}

.fraud-armor-container {
  margin-bottom: 5px;
  ul {
    padding-left: $padding-base-horizontal;
    list-style: none;
    li {
      &:before {
        content: "";
        border-color: transparent $text-color;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -0.7625em;
        top: 1em;
        position: relative;
      }
    }
    li.no-style {
      &:before {
        border-color: transparent transparent;
      }
    }
  }
}

.product-opts-price {
  display: inline-block;
}

//
// CITM Main Logo
// --------------------------------------------------

.citm-primary-logo {
  // width: 160px;
  // height: 108px;
  // width: 130px;
  // height: 88px;
  width: 122px;
  height: 83px;
  line-height: 0;
  display: block;
}

.citm-secondary-logo {
  // width: 150px;
  // height: 19px;
  width: 180px;
  height: 23px;
  // width: 225px;
  // height: 30px;
  line-height: 0;
  display: block;
}


//
// CITM Footer Logo
// --------------------------------------------------

.footer-brand {
  display: block;
  height: auto;
  opacity: 0.85;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &.footer-brand-mobile {
    opacity: 1;
  }
}

.citm-footer-logo {
  // width: 150px;
  // height: 19px;
  width: 180px;
  height: 23px;
  // width: 225px;
  // height: 30px;
  line-height: 0;
  display: block;
  margin-bottom: ($line-height-computed / 2);
  margin-left: -17px;
}

.citm-footer-logo-mobile {
  // margin: 0 auto;
  margin-bottom: ($line-height-computed / 2);
}


//
// Dropdown menus
// --------------------------------------------------

// Alternate dropdowns
// --------------------------------------------------

// Two-column dropdown menu (ul)
.two-column.dropdown-menu {
  @media (min-width: $grid-float-breakpoint) {
    min-width: 380px;
  }
  > li > ul.col-sm-6 {
    padding: 0;
  }
  // Links within the dropdown menu
  > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    text-decoration: none;
  }
}

// Two-column Hover/Focus state
.two-column.dropdown-menu > li > ul > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }
}

// Two-column Active state
.two-column.dropdown-menu > li > ul > .active > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: $dropdown-link-active-bg;
  }
}


//
// Navbars
// --------------------------------------------------

// General Navbar overrides
// --------------------------------------------------

.navbar {
  border: none;
}

// Default Navbar overrides
// --------------------------------------------------

.navbar-default {
  border-bottom: 1px solid $navbar-default-border;
}


// Inverse Navbar overrides
// --------------------------------------------------

.navbar-inverse {
  border-bottom: 1px solid $navbar-inverse-border;
}


// Alternate navbars
// --------------------------------------------------

// CITM Navbar

// Mobile nav adjustments to 2-column nav structure
.navbar-nav {
  @media (max-width: $grid-float-breakpoint-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu.two-column {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      li > ul > li > a,
      .dropdown-header {
        padding: 5px 15px 5px 25px;
      }
      li > ul > li > a {
        line-height: $line-height-computed;
        &:hover,
        &:focus {
          background-image: none;
        }
      }
    }
  }
}

.navbar-citm {
  background-color: $color-envelope;
  border: none;

  .cart {
    @include clearfix();
  }
  .cart-indicators {
    float: left;
  }
  .cart-count-container {
    float: left;
    position: relative;
    margin-left: 4px;
    display: inline-block;
    font-size: 11px;
    color: $color-zodiac;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid tint($color-zodiac, 50%);
    text-align: center;
    font-weight: 500;
    &.cart-active {
      border-color: $brand-primary;
    }
  }
  .cart-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $grid-float-breakpoint) {
    margin-top: 32px;
    margin-bottom: 34px;

    .input-group-sm {
      margin-top: 2px;
    }

    .cart {
      padding-right: 0;
      border-left: 1px solid rgb(231, 231, 231);
      margin-left: 2px;
    }

    .cart-count-container {
      float: right;
    }

    .navbar-header,
    .container-expand {
      position: relative;
    }
  }

  .navbar-brand {
    height: auto;
    color: $navbar-default-brand-color;
    padding-top: 15px;
    padding-bottom: 16px;

    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }

    @media (min-width: $grid-float-breakpoint) {
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
      top: -17px;
      left: 0;
    }

    &.navbar-brand-mobile {
      padding-top: 14px;
      padding-bottom: 13px;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
    // Give margin left same width as logo so links don't overlap logo
    &.main-citm-nav {
      @media (min-width: $grid-float-breakpoint) {
        margin-left: 122px;
      }
    }

    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .citm-service-links {
    > li > a {
      &.quick-reorder {
        color: $link-color;
        font-weight: 500;

        > .quick-reorder-arrow {
          color: tint($link-color, 15%);
        }

        &:hover,
        &:focus {
          color: darken($link-color, 10%);
          > .quick-reorder-arrow {
            color: darken($link-color, 10%);
          }
        }
      }
    }

    @media (min-width: $grid-float-breakpoint) {
      position: absolute;
      right: 0;
      top: -26px;

      > li > a {
        font-size: $font-size-small;
        color: #999;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;

        &:hover,
        &:focus {
          color: #777;
        }

        &.quick-reorder {
          font-weight: 400;
        }

      }
    }
  }

  .nav-links-pers-flow {
    @media (max-width: $grid-float-breakpoint-max) {
      position: absolute;
      right: $navbar-padding-horizontal;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;

      > li > a {
        padding-right: 0;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;

    .nav-search-text-input {
      @media (min-width: $screen-xs-max) and (max-width: 920px) {
        width: 120px;
      }
      @media (min-width: $screen-xs-max) and (max-width: 870px) {
        width: 100px;
      }
      @media (min-width: $screen-xs-max) and (max-width: 790px) {
        width: 80px;
      }
    }
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }

        // Two-Column dropdown adjustments
        &.two-column {
          > li > ul > li > a {
            color: $navbar-default-link-color;
            &:hover,
            &:focus {
              color: $navbar-default-link-hover-color;
              background-color: $navbar-default-link-hover-bg;
            }
          }
          > li > ul > .active > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-default-link-active-color;
              background-color: $navbar-default-link-active-bg;
            }
          }
          > li > ul > .disabled > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-default-link-disabled-color;
              background-color: $navbar-default-link-disabled-bg;
            }
          }
        }

      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }

}


//
// Badges
// --------------------------------------------------

// Alternative Badges
.badge {
  &.badge-normal {
    font-weight: 400;
  }
  &.badge-active {
    background-color: $brand-primary;
  }
  &.badge-info {
    background-color: $brand-info;
  }
  &.badge-ghost {
    background-color: transparent;
    border: 1px solid #bbb;
    color: $badge-bg;
  }
}

.btn-default .badge-info-ghost {
  background-color: transparent;
  color: $brand-info;
  border: 1px solid $brand-info;
  // box-shadow: inset 0 0 0 1px $brand-info;
}


//
// Accordion
// --------------------------------------------------

.accordion {
    .panel-title {
      font-weight: 500;
    }
    .panel-title > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $navbar-default-link-hover-color;
      }
    }
}


//
// Footer
// --------------------------------------------------

.footer-nav-inner {
  padding-top: 32px;
  padding-bottom: 32px;

  h5 {
    font-weight: 500;
    a {
      color: $navbar-default-link-hover-color;
      opacity: 0.85;
      &:hover,
      &:focus {
        text-decoration: none;
        color: $navbar-default-link-hover-color;
        opacity: 1;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    // > li {
    //   margin-bottom: ($line-height-computed / 5);
    // }

    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $navbar-default-link-hover-color;
      }
    }
  }

  @media (max-width: $grid-float-breakpoint-max) {
    margin: 0 auto;
    width: 164px;
  }

}

.footer-badges-copyright-inner {
  padding-top: 20px;
  padding-bottom: 20px;
  
  .copyright-address {
    padding-top: 10px;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    text-align: center;
    padding-bottom: 32px;
  }

}

.security-badge-list {
  padding-top: 14px;

  @media (min-width: $grid-float-breakpoint) {
    padding-top: 0;
    margin-bottom: 2px;
  }
}

.security-badge {
  padding-top: 10px;

  .badge-container {
    width: 120px;
    height: 120px;
    background-color: $color-clouds-light-35;
    border-radius: $border-radius-small;
    position: relative;

    img {
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


//
// Carousel
// --------------------------------------------------

// Left and Right arrows
.carousel-control {
  // Remove gradients for backgrounds by setting opacity to "0"
  &.left {
    @include gradient-horizontal($start-color: rgba(0,0,0,0), $end-color: rgba(0,0,0,0));
  }
  &.right {
    left: auto;
    right: 0;
    @include gradient-horizontal($start-color: rgba(0,0,0,0), $end-color: rgba(0,0,0,0));
  }
}

// Bottom carousel dots
.carousel-indicators {
  bottom: 0;

  li {
    opacity: 0.6;
  }

  li:hover {
    opacity: 1;
  }
}

.carousel-copyright {
    opacity: 0.8;
    font-weight: 300;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
    white-space: nowrap;

  @media (min-width: $grid-float-breakpoint) {
    left: auto;
    right: 14px;
    bottom: 12px;
    transform: none;
  }
}

// Live Carousel text
.carousel-caption {
  // mobile base styles
  text-align: center;
  top: 0;
  left: 10%;
  right: 10%;

  .hero-text {
    margin-top: 0;
    font-size: ceil(($font-size-base * 1.25));
    small {
      font-weight: inherit;
      color: inherit;
    }
  }

  p {
    font-weight: 300;
    font-size: $font-size-h6;
  }

  .btn {
    @media (max-width: 318px) {
      font-size: $font-size-h6;
    }
  }

  // mobile 319px and up
  @media (min-width: 319px) {
    .hero-text {
      font-size: ceil(($font-size-base * 1.5));
    }

    p {
      margin-bottom: ($jumbotron-padding / 2);
      font-size: $font-size-base;
    }
  }

  // mobile 359px and up
  @media (min-width: 359px) {
    .hero-text {
      font-size: ceil(($font-size-base * 2));
    }

    p {
      margin-bottom: ($jumbotron-padding / 2);
      font-size: ceil(($font-size-base * 1.25));
    }
  }

  // mobile 399px and up
  @media (min-width: 399px) {
    .hero-text {
      font-size: ceil(($font-size-base * 2.75));
    }

    p {
      margin-bottom: ($jumbotron-padding / 2);
      font-size: $jumbotron-font-size;
    }
  }

  // mobile 550px and up
  @media (min-width: 549px) {
    .hero-text {
      font-size: ceil(($font-size-base * 3.25));
    }

    p {
      margin-bottom: ($jumbotron-padding / 2);
      font-size: ceil(($font-size-base * 2));
    }
  }

  // small screens and up
  @media (min-width: $grid-float-breakpoint) {
    left: 12%;
    top: 38%;
    transform: translateY(-38%);
    text-align: left;

    .hero-text {
      font-size: ceil(($font-size-base * 1.75));
      margin-bottom: ceil(($jumbotron-padding / 5));
    }

    p {
      margin-bottom: ceil(($jumbotron-padding / 3.25));
      font-size: $font-size-base;
    }
  }

  // medium screens and up
  @media (min-width: $screen-md-min) {
    top: 43%;
    transform: translateY(-43%);

    .hero-text {
      font-size: ceil(($font-size-base * 2.25));
    }

    p {
      font-size: ceil(($font-size-base * 1.25));
    }
  }

  // large screens and up
  @media (min-width: $screen-lg-min) {
    top: 46%;
    transform: translateY(-46%);

    .hero-text {
      font-size: ceil(($font-size-base * 2.75));
    }

    p {
      margin-bottom: ($jumbotron-padding / 2);
      font-size: $jumbotron-font-size;
    }

  }

}


//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
  background-color: transparent;
  border-radius: 0;

  border-bottom: 5px solid $breadcrumb-bg;
  padding-bottom: 1px;
}


//
// Homepage Carousel
// --------------------------------------------------

.carousel-container {
  margin-bottom: $line-height-computed;
}


//
// Homepage Bucket Customizations
// --------------------------------------------------

.reorder-bucket {
  position: relative;

  .reorder-bucket-graphic {
    opacity: 0.12;
    font-size: 80px;
    line-height: 0;
    position: absolute;
    right: $panel-body-padding;
    top: 50%;
    transform: translateY(-50%);
  }

  .reorder-bucket-body {
    width: 70%;
    @media (min-width: $grid-float-breakpoint) {
      width: 80%;
    }
  }
}

.order-status-bucket {
  position: relative;
  max-height: 51px;

  .order-status-bucket-graphic {
    opacity: 0.25;
    font-size: 34px;
    line-height: 0;
    position: absolute;
    right: $panel-body-padding;
    top: 50%;
    transform: translateY(-50%);
  }

  a {
    color: $color-zodiac-light;
    &:hover,
    &:focus {
      color: $color-zodiac-med;
      text-decoration: none;
    }
  }
}


//
// Gallery Cards
// --------------------------------------------------

.gallery-item {
  @include transition(border .2s ease-in-out);
  margin-bottom: $line-height-computed;
  border: 1px solid $panel-default-border;
  border-radius: $border-radius-base;
  padding: 10px;
  display: block;

  img {
    margin: 0 auto;
  }

  &.gallery-item-home {
    min-height: 200px;
    
    @media (min-width: 330px) {
      min-height: 208px;
    }
    
    @media (min-width: 348px) {
      min-height: 222px;
    }
    
    @media (min-width: 375px) {
      min-height: 230px;
    }
    
    @media (min-width: $grid-float-breakpoint) {
      min-height: 200px;
    }
    
    @media (min-width: $screen-lg-min) {
      min-height: 230px;
    }
  }

  // specific styles to gallery cards on product gallery pages
  &.gallery-page-item {

    // TODO: Remove this class after price whitespace problem is fixed post-launch
    #divPrice .price-group .price__dollar {
      margin-right: -0.26em;
    }
    // TODO (end)

    @media (min-width: $grid-float-breakpoint) {
      min-height: 450px;
    }
    @media (min-width: $screen-md-min) {
      min-height: 318px;
    }
    @media (min-width: $screen-lg-min) {
      min-height: 368px;
    }
  }

  // TO DO: remove .gallery-item__title (deprecated class) after initial launch
  .gallery-item-title,
  .gallery-item__title {
    margin-top: 0;
    margin-bottom: 0;
    color: $gray-dark;
  }

  .gallery-item-meta {
    color: $gray;
    margin-bottom: 0;
  }

  // TO DO: remove .gallery-item__price (deprecated class) after initial launch
  .price-group,
  .gallery-item__price {
    color: $gray-light;
    font-weight: 500;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: tint($color-zodiac, 69%);
    // TO DO: remove .gallery-item__price (deprecated class) after initial launch
    .price-group,
    .gallery-item__price {
      color: tint($color-zodiac, 35%);
    }
    // TO DO: remove .gallery-item__title (deprecated class) after initial launch
    .gallery-item-title,
    .gallery-item__title {
      color: $color-zodiac;
    }
    .gallery-item-meta {
      color: tint($color-zodiac, 18%);
    }
  }
}


//
// Checkout-flow-specific styles
// --------------------------------------------------

.check-preview__overlay {
  position: relative;
}

.check-preview__overlay--personal0:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  background: url(/images/overlay_PersonalCheck_Tab1.png) no-repeat;
  background-size: contain;
}

.check-preview__overlay--personal1:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  background: url(/images/overlay_PersonalCheck_Tab2.png) no-repeat;
  background-size: contain;
}


// Hide Google Conversion iframe
// -----------------------------------------------

iframe[name=google_conversion_frame] {
  display: none !important;
}

// ********************************************************************************************
// KILL CLASSES - stuff hidden from clone site for initial due to difficulties - refactor later
// ********************************************************************************************

.custom-select {
  .save-over {
    display: none;
  }
}