//
// Helpers
// --------------------------------------------------

// Background colors
.bg-zodiac {
  background-color: $color-zodiac;
}

.bg-clouds {
  background-color: $color-clouds;
}

.bg-clouds-light {
  background-color: tint($color-clouds, 25%);
}

// Text colors
.text-envelope {
  color: $color-envelope;
}

// Font weights
.font-light {
  font-weight: 300;
}

// Margins
.margin-top-30 {
  margin-top: 30px;
}

.margin-top-60 {
  margin-top: 60px;
}


//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1, .h1 {
    font-weight: 500;
}

// Emphasis & misc
// -------------------------

// Contextual colors

@include text-emphasis-variant('.text-zodiac', $color-zodiac);
@include text-emphasis-variant('.text-gray', $gray);


//
// Jumbotron
// --------------------------------------------------

.jumbotron {

    .hero-text {
        font-family: $font-family-serif;
    }

    .container &,
    .container-fluid & {
        border-radius: 0;
    }

}


//
// Labels
// --------------------------------------------------

.label {
    font-weight: 500;
}


//
// Wells
// --------------------------------------------------

// Base class
.well {
    border-radius: 0;
}

// Sizes
.well-lg {
    border-radius: 0;
}
.well-sm {
    border-radius: 0;
}


//
// Modals
// --------------------------------------------------

.modal-content {
    border-radius: 0;
}


//
// Buttons
// --------------------------------------------------

// Alternate buttons
// --------------------------------------------------

.btn-cta {
  @include button-variant($color-zodiac, $color-daisy, $btn-cta-border);
}

.btn-default-emph {
  @include button-variant($btn-default-color, tint($brand-primary, 93%), $btn-default-border)
}


//
// Forms
// --------------------------------------------------

// Feedback states
.has-success {
  @include form-control-validation($brand-success, $brand-success, $state-success-bg);
}
.has-warning {
  @include form-control-validation($brand-warning, $brand-warning, $state-warning-bg);
}
.has-error {
  @include form-control-validation($brand-danger, $brand-danger, $state-danger-bg);
}


//
// CITM Main Logo
// --------------------------------------------------

.citm-primary-logo {
  // width: 160px;
  // height: 108px;
  // width: 130px;
  // height: 88px;
  width: 122px;
  height: 83px;
  line-height: 0;
  display: block;
}


//
// CITM Footer Logo
// --------------------------------------------------

.footer-brand {
  display: block;
  height: auto;
  opacity: 0.85;
  // padding-top: 1px;
    
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.citm-footer-logo {
  // width: 150px;
  // height: 19px;
  width: 180px;
  height: 23px;
  // width: 225px;
  // height: 30px;
  line-height: 0;
  display: block;
  margin-bottom: ($line-height-computed / 2);
  
  // @media (min-width: $grid-float-breakpoint) {
    margin-left: -17px;
  // }
}


//
// Dropdown menus
// --------------------------------------------------

// Alternate dropdowns
// --------------------------------------------------

// Two-column dropdown menu (ul)
.two-column.dropdown-menu {
  min-width: 380px;
  > li > ul.col-sm-6 {
    padding: 0;
  }
  // Links within the dropdown menu
  > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    text-decoration: none;
  }
}

// Two-column Hover/Focus state
.two-column.dropdown-menu > li > ul > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }
}

// Two-column Active state
.two-column.dropdown-menu > li > ul > .active > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: $dropdown-link-active-bg;
  }
}


//
// Navbars
// --------------------------------------------------

// Alternate navbars
// --------------------------------------------------

// CITM Navbar

// Mobile nav adjustments to 2-column nav structure
.navbar-nav {
  @media (max-width: $grid-float-breakpoint-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu.two-column {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      li > ul > li > a,
      .dropdown-header {
        padding: 5px 15px 5px 25px;
      }
      li > ul > li > a {
        line-height: $line-height-computed;
        &:hover,
        &:focus {
          background-image: none;
        }
      }
    }
  }
}

.navbar-citm {
  background-color: $color-envelope;
  // border-color:  $navbar-default-border;
  border: none;
  // border-bottom:    1px solid $navbar-citm-border;

  @media (min-width: $grid-float-breakpoint) {
    margin-top: 32px;
    margin-bottom: 34px;
    
    .input-group-sm {
      margin-top: 2px;
    }
    
    .cart {
      padding-right: 0;
      border-left: 1px solid rgb(231, 231, 231);
      margin-left: 2px;
    }

    .navbar-header {
      position: relative;
    }
  }

  .navbar-brand {
    height: auto;
    color: $navbar-default-brand-color;
    padding-top: 15px;
    padding-bottom: 16px;

    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
    
    @media (min-width: $grid-float-breakpoint) {
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
      top: -17px;
      left: 0;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
    // Give margin left same width as logo so links don't overlap logo    
    &.main-citm-nav {
      @media (min-width: $grid-float-breakpoint) {
        margin-left: 122px;
      }
    }
    
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
  
  .citm-service-links {
    @media (min-width: $grid-float-breakpoint) {
      position: absolute;
      right: 0;
      top: -26px;
      
      > li > a {
        font-size: $font-size-small;
        color: #999;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        
        &:hover,
        &:focus {
          color: #777;
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
    @include citm-mobile-navbar-vertical-align(34px);
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
    
    .nav-search-text-input {
      @media (min-width: $screen-xs-max) and (max-width: 920px) {
        width: 120px;
      }
      @media (min-width: $screen-xs-max) and (max-width: 870px) {
        width: 100px;
      }
    }
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }

        // Two-Column dropdown adjustments
        &.two-column {
          > li > ul > li > a {
            color: $navbar-default-link-color;
            &:hover,
            &:focus {
              color: $navbar-default-link-hover-color;
              background-color: $navbar-default-link-hover-bg;
            }
          }
          > li > ul > .active > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-default-link-active-color;
              background-color: $navbar-default-link-active-bg;
            }
          }
          > li > ul > .disabled > a {
            &,
            &:hover,
            &:focus {
              color: $navbar-default-link-disabled-color;
              background-color: $navbar-default-link-disabled-bg;
            }
          }
        }
        
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }
}


//
// Badges
// --------------------------------------------------

// Alternative Badges
.badge-active {
  @extend .badge;
  background-color: $brand-primary;
}


//
// Footer
// --------------------------------------------------

.footer-nav-inner {
  padding-top: 32px;
  padding-bottom: 32px;
  
  h5 {
    font-weight: 500;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    
    // > li {
    //   margin-bottom: ($line-height-computed / 5);
    // }
    
    > li > a {
      color: $navbar-default-link-color;
      
      &:hover,
      &:focus {
        text-decoration: none;
        color: $navbar-default-link-hover-color;
      }
    }
  }
  
  @media (max-width: $grid-float-breakpoint-max) {
    margin: 0 auto;
    width: 180px;
  }
  
}

.footer-badges-copyright-inner {
  padding-top: 15px;
  padding-bottom: 15px;
  
  @media (max-width: $grid-float-breakpoint-max) {
    text-align: center;
  }
}