/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

// CITM Mobile Navbar Vertical Align
//
// Vertically center elements in the mobile CITM navbar.
// Example: an element has a height of 30px, so write out `.navbar-vertical-align(30px);` to calculate the appropriate top margin.

$citm-mobile-navbar-height: 114px;

@mixin citm-mobile-navbar-vertical-align($element-height) {
    margin-top: ((($citm-mobile-navbar-height - $element-height) / 2) - 1); // subtract 1px for optical centering
    margin-bottom: ((($citm-mobile-navbar-height - $element-height) / 2) + 1); // add 1px for optical centering
}
