//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1, .h1 {
    font-weight: 500;
}

// Emphasis & misc
// -------------------------

// Contextual colors

@include text-emphasis-variant('.text-zodiac', $color-zodiac);
@include text-emphasis-variant('.text-gray', $gray);


//
// Jumbotron
// --------------------------------------------------

.jumbotron {

    .hero-text {
        font-family: $font-family-serif;
    }

    .container &,
    .container-fluid & {
        border-radius: 0;
    }

}


//
// Labels
// --------------------------------------------------

.label {
    font-weight: 500;
}


//
// Wells
// --------------------------------------------------

// Base class
.well {
    border-radius: 0;
}

// Sizes
.well-lg {
    border-radius: 0;
}
.well-sm {
    border-radius: 0;
}


//
// Modals
// --------------------------------------------------

.modal-content {
    border-radius: 0;
}


//
// Buttons
// --------------------------------------------------

// Alternate buttons
// --------------------------------------------------

.btn-cta {
    @include button-variant($color-zodiac, $color-daisy, $btn-cta-border);
}


//
// Forms
// --------------------------------------------------

// Feedback states
.has-success {
  @include form-control-validation($brand-success, $brand-success, $state-success-bg);
}
.has-warning {
  @include form-control-validation($brand-warning, $brand-warning, $state-warning-bg);
}
.has-error {
  @include form-control-validation($brand-danger, $brand-danger, $state-danger-bg);
}
