/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

// CITM Mobile Navbar Vertical Align
//
// Vertically center elements in the mobile CITM navbar.
// Example: an element has a height of 30px, so write out `.navbar-vertical-align(30px);` to calculate the appropriate top margin.

$citm-mobile-navbar-height: 50px;

@mixin citm-mobile-navbar-vertical-align($element-height) {
    margin-top: ((($citm-mobile-navbar-height - $element-height) / 2) - 1); // subtract 1px for optical centering
    margin-bottom: ((($citm-mobile-navbar-height - $element-height) / 2) + 1); // add 1px for optical centering
}


// Generic Vertical Align
// 
// Vertically center elements in their containers
// Example: an element has a height of 30px, and its container has a height of 90px, so write out `.vertical-align(90px, 30px);` to calculate the appropriate top and bottom margins.

@mixin vertical-align ($container-height, $element-height) {
    margin-top: ((($container-height - $element-height) / 2) - 1); // subtract 1px for optical centering
    margin-bottom: ((($container-height - $element-height) / 2) + 1); // add 1px for optical centering
}


// Demo focused input state for UI Toolkit
@mixin form-control-focus-demo($color: $input-border-focus) {
    $color-rgba: rgba(red($color), green($color), blue($color), .6);
    border-color: $color;
    outline: 0;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
}

// Alternate button variant with lighter background color for "active/press" state
@mixin button-variant-alternate($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 10%);
        border-color: darken($border, 18%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}